.container-fluid
{
    height:500px
}
.row .poster
{
    height:100%;
    width:100%
}
.bg-image{
    height:100%;
    width:100%; 
}
.profile-image
{
    height:100%;
    width:100%;
    border-radius: 20px;
}
.profile-pic
{
    margin-top: -420px;
    height:350px;
}
.info .name{
    z-index: 2;
    margin-top: -420px;
    text-align: center;
    font-size: 50px;
    color : #2471A3;
    font-family: 'Crimson Text', serif;
}
.fa
{
    text-align: center;
    color: brown;
    font-size: 30px;
}
.aboutme
{
    font-family: 'Alegreya', serif;
    font-size: 30px;
    color:black;
}
.aboutmedetails
{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    color:grey
    ;
}
.mywork
{
    font-family: 'Alegreya', serif;
    font-size: 30px;
    color:black;
}
.myworkdetails
{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    color:grey
    ;
}
.affix
{
    top:0;
    width:100%
}
.custom
{
    width:100px;
    align-content: center;
    color: black
}
.projectthumbnail
{
    height: 1050;
    width: 1050;
}
.project-details
{
    margin-top: -60px;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    padding-left: 10px;
}
.projectthumbnail:hover
{
    opacity: 0.2;
    -webkit-transform:scale(1.25);
    /**-webkit-filter: grayscale(100%);**/
}
.navbar{
    backface-visibility: 0
}
.thumbnail{
    border: none;
    box-shadow: 0;
}